/* APPEAR css animations used on scrolling */
.appear {
  &.visible {
    opacity: 1;
  }
  opacity: 0;
  @include transition(opacity, $transition_slow, ease-in-out);
}

.fadeInBottom {
	@include transform-style( preserve-3d );
	@include transition-timing-function( cubic-bezier(0.19, 1, 0.22, 1) );
	@include animation-duration( 1000ms );
	-webkit-transition-property: -webkit-transform, opacity;
	transition-property: transform, opacity;
	@include animation-fill-mode(both);
	@include animation-name(fadeInBottom);
}

.fadeInTop {
	@include transform-style( preserve-3d );
	@include transition-timing-function( cubic-bezier(0.19, 1, 0.22, 1) );
	@include animation-duration( 1000ms );
	-webkit-transition-property: -webkit-transform, opacity;
	transition-property: transform, opacity;
	@include animation-fill-mode(both);
	@include animation-name(fadeInTop);
}

.scroll-visible {
	opacity: 1;
	@include transition(opacity, $transition, ease-in-out);
}
.scroll-not-visible {
	opacity: 0;
	@include transition(opacity, $transition, ease-in-out);
}