.buttonWrap {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
}

.button {
	background: $col_quaternary;
	color: $col_dark_bg;
	font-size: $size_general_fixed;
	font-family: $font_headline;
	padding: 0.35em 0.65em;
	margin: 0;
	line-height: 1em;
	font-weight: normal;
	border-radius: $general_radius;
	display: inline-block;
	opacity: 1;
	@include transition(all, $transition, ease-in-out); 

	&:hover {
		color: $col_dark_bg;
		opacity: 0.75;
	}

	&.big {
		font-size: $size_big_fixed;
		padding: 0.55em 2.55em;
		text-transform: uppercase;
	}
}

.dark {
	.button {
		background: $col_dark_bg;
		color: $col_quaternary;
		&:hover {
			background: $col_dark_bg;
		}
	}
}
.coverImage {
	.button {
		margin: 55px 0 0 0;
	}
}