@function em($pixels, $context: $font-size-base) {
  @return #{$pixels/$context}em
}

@mixin at-least($device-width) {
  @media screen and (min-width: $device-width) {
    @content
  }
}

@mixin until($device-width) {
  @media screen and (max-width: $device-width - 1) {
    @content
  }
}

@mixin between($min-device-width, $max-device-width) {
  @media screen and (min-width: $min-device-width) and (max-width: $max-device-width - 1) {
    @content
  }
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition:    $transition-property $transition-time $method;
    -ms-transition:     $transition-property $transition-time $method;
    -o-transition:      $transition-property $transition-time $method;
    transition:         $transition-property $transition-time $method;
}

@mixin transform($value) {
  -webkit-transform:    $value;
  -moz-transform:       $value;
  -ms-transform:        $value;
  -o-transform:         $value;
  transform:            $value;
}

@mixin line {
  display:      inline-block;
  width:        30px;
  height:       4px;
  background:   $col_dark_bg;
  transition:   $transition;
}

@mixin scale($factor) {
	-webkit-transform: 	scale($factor);
	-moz-transform: 	  scale($factor);
	-ms-transform: 		  scale($factor);
	-o-transform: 		  scale($factor);
}

@mixin animation($animation) {
  -webkit-animation:  $animation;
  -moz-animation:     $animation;
  -o-animation:       $animation;
  animation:          $animation;
}

@mixin transform-style($value) {
  -webkit-transform-style:    $value;
  -moz-transform-style:       $value;
  -ms-transform-style:        $value;
  -o-transform-style:         $value;
  transform-style:            $value;
}

@mixin transition-timing-function($value) {
  -webkit-transition-timing-function:    $value;
  -moz-transition-timing-function:       $value;
  -ms-transition-timing-function:        $value;
  -o-transition-timing-function:         $value;
  transition-timing-function:            $value;
}

@mixin animation-duration($value) {
  -webkit-animation-duration:    $value;
  -moz-animation-duration:       $value;
  -ms-animation-duration:        $value;
  -o-animation-duration:         $value;
  animation-duration:            $value;
}

@mixin animation-fill-mode($value) {
  -webkit-animation-fill-mode:  $value;
  animation-fill-mode:      $value;
}
@mixin animation-name($value) {
  -webkit-animation-name:   $value;
  animation-name:       $value;
}